// Place all the styles related to the Boxes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$color1: rgba(15, 163, 177, 1);
$color2: rgba(227, 239, 224, 1);
$color3: rgba(247, 232, 174, 1);
$color4: rgba(255, 170, 124, 1);
$color5: rgba(255, 165, 76, 1);

.effect1{
	-webkit-box-shadow: 0 10px 6px -6px #777;
	   -moz-box-shadow: 0 10px 6px -6px #777;
	        box-shadow: 0 10px 6px -6px #777;
}

@keyframes  random {
    20% { background-color: $color5; }
    40% { background-color: $color2; }
    60% { background-color: $color3; }
    80% { background-color: $color4; }
}

body {
  background-color: #fff;
  -webkit-animation: random 20s infinite;
  animation: random 20s infinite;
  text-align: center;
}

label {
  display: none;
}

.heading {
  margin-top: 100px;
  font-family: verdana;
  font-size: 100px;
  text-transform: lowercase;
  font-weight: bold;
}

.input-text {
  margin-top: 60px;
  border-radius: 20px;
  padding: 20px;
  width: 60%;
  height: 100px;
  font-family: verdana;
  font-size: 50px;
  border: 5px solid #eee;
}

.input-text:focus {
  border: 5px solid $color1;
}

.create-button {
  margin-top: 40px;
  border-radius: 20px;
  padding: 15px 20px 20px 20px;
  height: 100px;
  width: 60%;
  background-color: $color1;
  font-family: verdana;
  font-size: 50px;
  border: none;
  color: white;
  font-weight: bold;
  border-bottom: 10px solid rgba(0, 143, 157, 1);
}

.create-button:active {
  transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}

.limit-remaining {
	margin-top: 40px;
	font-family: verdana;
  font-size: 30px;
}

.suggestion-list {
	margin-left: 20%;
	text-align: left;
	margin-top: 20px;
	font-family: verdana;
  font-size: 30px;
	list-style-type: lower-greek;
}

.suggestion-item {
	margin-top: 10px;
}

.new-box-button {
	margin-top: 40px;
  border-radius: 20px;
  padding: 15px 20px 20px 20px;
  height: 100px;
  width: 60%;
  background-color: $color1;
  font-family: verdana;
  font-size: 50px;
  border: none;
  color: white;
  font-weight: bold;
  border-bottom: 10px solid rgba(0, 143, 157, 1);
	text-decoration: none;
}

.new-box-button:active {
	transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}

.new-box-button:hover {
	cursor: pointer;
}

#notice {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  top: 40px;
  font-family: verdana;
  font-size: 30px;
  color: black;
  font-weight: bold;
}
