<h1 class='heading'>New Box</h1>

<%= form_for(@box) do |f| %>
  <%= f.label :text %>
  <%= f.text_field :text, :class=>'input-text effect1'%>
  <br></br>
  <%= f.submit "create", :class=>'create-button button-effect'%>
<% end %>
